/* Global Styles */

@font-face {
    font-family: Raleway;
    src: url("/resources/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype")
}

body {
    font-family: Raleway;
}


/* General */

header {
    border-bottom: 5px solid black;
    padding: 20px;
}

h1 {
    display: inline-block;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

h3 {
    font-size: 35px;
    font-weight: 550;
    margin-bottom: 20px;
}

li {
    list-style-type: disc;
}

p,
.description {
    font-size: 20px;
    line-height: 1.2;
}

em {
    font-style: italic;
}

section {
    padding: 50px 20px;
    border: 3px solid grey;
    border-radius: 10px;
    margin: 20px;
}


/* Colors Section */

.colors em {
    font-style: italic;
    font-weight: 900;
    font-size: 120%;
    padding-right: 7px;
}

.color {
    width: 500px;
    max-height: 1000px;
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.color .showcase {
    width: inherit;
    padding: 100px 0;
    text-align: center;
    font-size: 25px;
}

.color .description {
    margin-top: 20px;
    margin-right: 0;
}

#rojo .showcase {
    background-color: hsla(0, 77%, 52%, 1);
}

#black .showcase {
    background-color: black;
    color: white;
}


/* Fonts Section */

.size {
    margin-top: 20px;
}

.size p {
    background-color: rgb(249, 255, 198);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 2px 0;
    width: inherit;
}

p.bold {
    font-weight: bold;
}

p.italic {
    font-style: italic;
}

#small p {
    font-size: 15px;
}

#medium p {
    font-size: 30px;
}

#large p {
    font-size: 45px;
}


/* Text Styles Section */

.text-styles p {
    margin-bottom: 20px;
}

.text-styles li {
    font-size: 20px;
    margin-left: 10px;
}

.text-styles #header {
    margin-bottom: 80px;
}

.text-styles div {
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
}